.textColor {
  color: #fff;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar-brand-style {
  color: #fff !important;
  font-weight: 600;
}
.block1 {
  background-color: #fff9e9;
}
.block2 {
  background-color: #aec8a1;
}
table {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
table tr td {
  /* padding: 25px 12px !important; */
  color: #000;
}
table tr {
  line-height: 50px;
}
table tr td:hover {
  background-color: #cccccc;
}
.row {
  height: 90%;
}
#tableDiv {
  align-items: center;
}
.selectedBlock {
  position: relative;
  background-color: #cccccc;
}
.selectedBlock span {
  position: absolute;
  left: 10px;
  bottom: 0px;
}
.possiblePositionBlock {
  background-color: #bb4559;
}
.fa-github {
  margin-left: 20px;
}
.selected-fa {
  position: absolute;
  top: 30px;
}
